@page "/practice"
@inject HttpClient _client;

<RoundSelectorComponent OnRoundButtonClicked="HandleRoundButtonClick" />
<PokemonGuesserComponent AnswerPokedexNumber="@pokedexNumber" Pokemons="@pokemons" @key="@(pokemonGuesser_Id)"></PokemonGuesserComponent>
<MoveListComponent IsGuessable=true Moves=@chosenSet.Moves @key="@(moveList_Id)"></MoveListComponent>
<button @onclick="@HandleNextClick">Next</button>
