@page "/practice"
@inject HttpClient _client;

<div class="practice-container">
    <div class="title-container">
        <h3>
            <b>Battle Factory Practicer</b>
        </h3>
    </div>
    <div class="round_selector-container">
        <RoundSelectorComponent InitialRoundSelected=@initialRound OnRoundButtonClicked="HandleRoundButtonClick" />
    </div>
    <div class="guesser-container">
        <PokemonGuesserComponent AnswerPokedexNumber="@pokedexNumber" Pokemons="@pokemons" @key="@(pokemonGuesser_Id)"></PokemonGuesserComponent>
    </div>
    <div class="movelist-component-container">
        <MoveListComponent IsGuessable=false Moves=@chosenSet.Moves @key="@(moveList_Id)"></MoveListComponent>
    </div>
    <div class="ability-component-container">
        <AbilityComponent Pokemon="@chosenPokemon" IsGuessable=false @key="@(abilityList_Id)" />
    </div>
    <div class="next-container">
        <button id="next-button" @onclick="@HandleNextClick">Next</button>
    </div>
</div>
