@page "/practice"
@inject HttpClient _client;

<div class="practice-container">
    <div class="title-container">
        <h3>
            <b>Battle Factory Practicer</b>
        </h3>
    </div>
    <div class="round_selector-container">
        <RoundSelectorComponent InitialRoundSelected=@initialRound OnRoundButtonClicked="HandleRoundButtonClick"/>
    </div>
    <div class="guesser-container">
        <PokemonGuesserComponent AnswerPokedexNumber="@pokedexNumber" Pokemons="@pokemons" @key="@(pokemonGuesser_Id)" OnConfirmClicked="PokemonGuessEvent"></PokemonGuesserComponent>
    </div>
    @if (pokemonIsGuessed)
    {
        <div class="ability-component-container">
            <AbilityComponent IsGuessable=true Ability1="@chosenPokemon.Ability1" Ability2="@chosenPokemon.Ability2" @key="@(abilityList_Id)" />
        </div>
        <div class="nature-component-container">
            <NatureComponent IsGuessable=true Nature="@chosenSet.Nature" />
        </div>
        <div class="item-component-container">
            <ItemComponent IsGuessable=true Item="@chosenSet.Item" />
        </div>
        <div class="movelist-component-container">
            <MoveListComponent IsGuessable=true Moves=@chosenSet.Moves @key="@(moveList_Id)"></MoveListComponent>
        </div>
        <div class="stat-component-container">
            <StatsComponent 
                StatIsGuessable=false EvIsGuessable=true
                HP="@chosenPokemon.HP" Att="@chosenPokemon.Att" Def="@chosenPokemon.Def" SpAtt="@chosenPokemon.SpAtt" SpDef="@chosenPokemon.SpDef" Spe="@chosenPokemon.Spe"
                HPEvs="@chosenSet.HPEv" AttEvs="@chosenSet.AttEv" DefEvs="@chosenSet.DefEv" SpAttEvs="@chosenSet.SpAttEv" SpDefEvs="@chosenSet.SpDefEv" SpeEvs="@chosenSet.SpeEv"/>
        </div>
    }
    <div class="next-container">
        <button id="next-button" @onclick="@HandleNextClick">Next</button>
    </div>
</div>
