@page "/practice"
@inject HttpClient _client;

<div class="practice-container">
    <div class="title-container">
        <h3>
            <b>Battle Factory Practicer</b>
        </h3>
    </div>
    <div class="round_selector-container">
        <RoundSelectorComponent InitialRoundSelected=@initialRound OnRoundButtonClicked="HandleRoundButtonClick"/>
    </div>
    <div class="guesser-container">
        <PokemonGuesserComponent AnswerPokedexNumber="@pokedexNumber" Pokemons="@pokemons" @key="@(pokemonGuesser_Id)" OnConfirmClicked="PokemonGuessEvent"></PokemonGuesserComponent>
    </div>
    @if (pokemonIsGuessed)
    {
        <div class="movelist-component-container">
            <MoveListComponent IsGuessable=false Moves=@chosenSet.Moves @key="@(moveList_Id)"></MoveListComponent>
        </div>
        <div class="ability-component-container">
            <AbilityComponent Ability1="@chosenPokemon.Ability1" Ability2="@chosenPokemon.Ability2" IsGuessable=false @key="@(abilityList_Id)" />
        </div>
        <div class="nature-component-container">

        </div>
    }
    <div class="next-container">
        <button id="next-button" @onclick="@HandleNextClick">Next</button>
    </div>
</div>
