<input type="text" class="InputBox" list="@GuessString" style="@inputBoxStyling" @bind="inputValue" @bind:event="oninput" disabled="@inputBoxDisabled" onclick="this.select()" />
<input type="text" class="InputBox" value="@displayedValue" disabled>

<datalist id="@GuessString">
    @foreach (string s in autoCompleteList)
    {
        <option>@s</option>
    }
</datalist>
