@using System.Text.RegularExpressions;
<style>
    .InputBox {
        border-block-width: 4px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>


<input type="text" class="InputBox" list="@GuessString" style="@inputBoxStyling" @bind="inputValue" @bind:event="oninput" disabled="@inputBoxDisabled" onclick="this.select()" />
<input type="text" class="InputBox" value="@displayedValue" disabled>

<datalist id="@GuessString">
    @foreach (string s in autoCompleteList)
    {
        <option>@s</option>
    }
</datalist>


@code {
    [Parameter]
    public bool IsGuessable { get; set; } = false;

    private bool inputBoxDisabled = true;

    [Parameter]
    public string GuessString { get; set; } = string.Empty;

    [Parameter]
    public List<string> OptionList { get; set; } = new();

    private List<string> autoCompleteList { get; set; } = new();


    private string displayedValue = string.Empty;

    private string _inputValue { get; set; } = string.Empty;
    private string inputValue { get { return _inputValue; } set { _inputValue = value; UpdateAutoCompleteList(); } }

    private string inputBoxStyling = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        inputBoxDisabled = !IsGuessable;
        if (!IsGuessable)
        {
            ShowAnswer();
        }
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        UpdateAutoCompleteList();
    }

    public void HandleMoveCheck()
    {
        ShowAnswer();
        if (IsCorrect())
        {
            SetInputBoxStyle("border-color: lightgreen");
        }
        else
        {
            SetInputBoxStyle("border-color: salmon");
        }
    }

    public void ResetComponent()
    {
        OnInitialized();
        displayedValue = string.Empty;
        inputValue = string.Empty;
        inputBoxStyling = string.Empty;
        StateHasChanged();
    }

    private void ShowAnswer()
    {
        inputBoxDisabled = true;
        displayedValue = GuessString;
        StateHasChanged();
    }

    private bool IsCorrect()
    {
        string inputLower = _inputValue.ToLower();
        string moveLower = GuessString.ToLower();
        return (inputLower == moveLower);
    }

    private void SetInputBoxStyle(string styling)
    {
        inputBoxStyling = styling;
        StateHasChanged();
    }


    private void UpdateAutoCompleteList()
    {
        string input = _inputValue.ToLower();
        autoCompleteList.Clear();
        foreach (string str in OptionList)
        {
            if (autoCompleteList.Count > 6) continue;

            var lowercase = str.ToLower();
            if (lowercase.StartsWith(input))
            {
                autoCompleteList.Add(str);
            }
        }
        if (autoCompleteList.Count == 1 && _inputValue == autoCompleteList.FirstOrDefault()) autoCompleteList.Clear();
        StateHasChanged();
    }
}
