@using System.Text.RegularExpressions;
<style>
    .InputBoxMoves{
        border-block-width: 4px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>


<input type="text" class="InputBoxMoves" list="@Move" style="@inputBoxStyling" @bind="InputValue" @bind:event="oninput" disabled="@InputBoxDisabled" onclick="this.select()" />

<input type="text" class="InputBoxMoves" value="@DisplayedMove" disabled>

<datalist id="@Move">
    @foreach (string s in AutoCompleteMoves)
    {
        <option>@s</option>
    }
</datalist>


@code {
    [Parameter]
    public bool IsGuessable { get; set; } = false;

    [Parameter]
    public string Move { get; set; } = string.Empty;

    [Parameter]
    public List<string> PossibleMoves { get; set; } = new();

    private List<string> AutoCompleteMoves { get; set; } = new();

    private bool InputBoxDisabled = true;

    private string DisplayedMove = "";

    private string _inputValue { get; set; } = string.Empty;
    private string InputValue { get { return _inputValue; } set { _inputValue = value; UpdateAutoCompleteMoves(); } }

    private string inputBoxStyling = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        InputBoxDisabled = !IsGuessable;
        if (!IsGuessable)
        {
            ShowMove();
        }
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        UpdateAutoCompleteMoves();
    }

    public bool IsCorrect()
    {
        string inputLower = _inputValue.ToLower();
        string moveLower = Move.ToLower();
        return (inputLower == moveLower);
    }

    public void ShowMove()
    {
        InputBoxDisabled = true;
        DisplayedMove = Move;
        StateHasChanged();
    }

    public void SetInputBoxStyle(string styling)
    {
        inputBoxStyling = styling;
        StateHasChanged();
    }

    public void HandleMoveCheck()
    {
        ShowMove();
        if (IsCorrect())
        {
            SetInputBoxStyle("border-color: lightgreen");
        }
        else
        {
            SetInputBoxStyle("border-color: salmon");
        }
    }

    private void UpdateAutoCompleteMoves()
    {
        string input = _inputValue.ToLower();
        AutoCompleteMoves.Clear();
        foreach(string s in PossibleMoves)
        {
            if (AutoCompleteMoves.Count > 6) continue;

            var move = s.ToLower();
            if (move.StartsWith(input))
            {
                AutoCompleteMoves.Add(s);
            }
        }
        if (AutoCompleteMoves.Count == 1 && _inputValue == AutoCompleteMoves.FirstOrDefault()) AutoCompleteMoves.Clear();
        StateHasChanged();
    }
}
