@inject HttpClient _client;

<div class="nature-component-container">
    <div class="title-container">
        <h4>Nature</h4>
    </div>
    <div class="guess-component-container">
        <GuessComponent GuessString="@Nature" IsGuessable="@IsGuessable" OptionList="@autoCompleteList" OnEnterPressed="@HandleConfirm" @ref="@guessComponent"/>
    </div>
    <div class="confirm-button-container">
        <button class="confirm-button" disabled="@confirmButtonDisabled" @onclick="@HandleConfirm">Confirm</button>
    </div>
</div>