<div class="round-selector-container">
    <div class="round-selector-label">
        <h3>Round Selector</h3>
    </div>
    <div class="round-buttons">
        <RoundSelectorButton RoundNumber=1 @ref="@button1" OnRoundButtonClick="HandleRoundButtonClick" />
        <RoundSelectorButton RoundNumber=2 @ref="@button2" OnRoundButtonClick="HandleRoundButtonClick" />
        <RoundSelectorButton RoundNumber=3 @ref="@button3" OnRoundButtonClick="HandleRoundButtonClick" />
        <RoundSelectorButton RoundNumber=4 @ref="@button4" OnRoundButtonClick="HandleRoundButtonClick" />
        <RoundSelectorButton RoundNumber=5 @ref="@button5" OnRoundButtonClick="HandleRoundButtonClick" />
        <RoundSelectorButton RoundNumber=6 @ref="@button6" OnRoundButtonClick="HandleRoundButtonClick" />
    </div>
</div>


