<div class="round-selector-container">
    <div class="round-selector-label">
        <h3>Round Selector</h3>
    </div>
    <div class="round-buttons-container">
        <div class="round-button-component">
            <RoundSelectorButton RoundNumber=1 @ref="@button1" OnRoundButtonClick="HandleRoundButtonClick" />
        </div>
        <div class="round-button-component">       
            <RoundSelectorButton RoundNumber=2 @ref="@button2" OnRoundButtonClick="HandleRoundButtonClick" />
        </div>
        <div class="round-button-component">
            <RoundSelectorButton RoundNumber=3 @ref="@button3" OnRoundButtonClick="HandleRoundButtonClick" />
        </div>
        <div class="round-button-component">
            <RoundSelectorButton RoundNumber=4 @ref="@button4" OnRoundButtonClick="HandleRoundButtonClick" />
        </div>
        <div class="round-button-component">
            <RoundSelectorButton RoundNumber=5 @ref="@button5" OnRoundButtonClick="HandleRoundButtonClick" />
        </div>
        <div class="round-button-component">
            <RoundSelectorButton RoundNumber=6 @ref="@button6" OnRoundButtonClick="HandleRoundButtonClick" />
        </div>
    </div>
</div>


